{% extends 'index.html' %} 
{% load custom_filters %}
{% load categories_tags %}
{% comment %} {% load subscribe_form_tags %} {% endcomment %}

 
{% block title %}
    {{ category.name }}
{% endblock title %}
 
{% block content %}  


<div class="header_top">
    <h4>
        {{ category.name|trans_category|upper}}
    </h4>
    <p>test {{category.name}}</p>
    Публикаций на странице: {{posts|length}}
</div>

{% if not is_subscribed %}
    <h5>Подписаться на новости в категории {{ category.name }}</h5>
    <a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-lg">Подписаться</a>
{% else %}
    <h5>Вы уже подписаны на новости в этой категории</h5>
    <a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-lg">Отписаться</a>
{% endif %}

<p>test: {{ user.username }} | {{ user.email }} | {{ category.name }} | {{ site.name }} | {{ site.domain }} </p>


{% if posts %}
{% for n in posts %}
    {% if n.title == 'lorem' %}
    <div class="header_news" onclick="location.href='{% url 'lorem_post' pk=n.pk %}'">
        <h5 class="upper">{% lorem 4 w random %}</h5>
        {{n.dataCreation|date:'M d Y'}}
    </div>
    <p class="author">Автор: {{ n.author }}</p>
    {% else %}
    <div class="header_news" onclick="location.href='{% url 'news_detail' pk=n.pk %}'">
        <h5 class="upper">{{ n.title|censor }}</h5>
        {{n.dataCreation|date:'M d Y'}}
    </div>
    <p class="author">Автор: {{ n.author }}</p>
   
    {% endif %}

    <div class="text_news">
    {% if n.title == 'lorem' %}
        {% lorem 30 w random %}
        <a href="{% url 'lorem_post' pk=n.pk %}">Подробнее &raquo;</a>
    {% else %}
        {{ n.text|truncatewords:25|censor }}
        <a href="{% url 'news_detail' pk=n.pk %}">Подробнее &raquo;</a>
    {% endif %}
    </div>
{% endfor %}
{% else %}
    <h3 style="margin: 20px 40px; font-family: Arial, Helvetica, sans-serif">
        новостей нет
    </h3>
{% endif %}

{% if is_paginated %}
<div class="paginator">
    <span class="arrow_links">
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая</a>
            <a class="a_arrow" href="?page={{ page_obj.previous_page_number }}">&#129144;</a>
        {% else %}
            <span class="page_end page_end_left">Первая &#129144</span>
        {% endif %}
    </span>
    {% comment %} ======================= {% endcomment %}

    {% comment %} {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="num current_num">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="num" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %} {% endcomment %}

    {% comment %} ========================== {% endcomment %}

    <span class="current_page">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </span>
    <span class="arrow_links">
        {% if page_obj.has_next %}
            <a class="a_arrow" href="?page={{ page_obj.next_page_number }}">&#129146;</a>
            <a class="a_arrow" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% else %}
            <span class="page_end">&#129146; Последняя</span>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock content %}
