{% extends "index.html" %}
{% load field_attrs %}

{% block title %}Смена пароля{% endblock title %}

{% block content %}

{% load field_attrs %}

<div class="col-md-6 offset-md-2">

    <h3 class="h3">Смена пароля</h3>

    <form action="{% url 'account_change_password' %}" method="post">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
            <p>*Текущий пароль:{{ form.oldpassword|attr:"class=form-control" }}</p>
            <p>*Новый пароль{{ form.password1|attr:"class=form-control" }}</p>
            <p>*Новый пароль(еще раз){{ form.password2|attr:"class=form-control" }}</p>                     
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="d-grid gap-2">
            <button  class=" btn btn-outline-primary " type="submit">Сменить пароль</button>
            {% comment %} <a  class=" btn btn-outline-dark" href="{% url 'account_reset_password' %}">Забыли пароль?</a> {% endcomment %}
        </div>
    </form>

</div>
    
{% endblock content %}

