
.header_top {
    min-height: 60px;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.header_news {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #e2e2e2;
    box-shadow: 2px 2px 5px #888;
}

.upper {
    text-transform: uppercase;
    font-weight: 700;
}

.text_news {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 8px 20px 8px;
}

.data {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.paginator {
    display: flex;
    background-color: #e2e2e2;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 2px 2px 5px #888;
    margin: 30px auto;
}

.arrow_links>a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

.current_page {
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
}

.page_end {
    font-size: 20px;
    font-weight: 600;
    color: #808080;
    word-spacing: 10px;
}

.page_end_left {
    margin-right: 10px;
}

.num {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    letter-spacing: 10px;
}

.current_num {
    color: #808080;
}

.a_arrow {
    margin-left: 10px;
    margin-right: 10px;
}

.header_search_title {
    display: flex;
    justify-content: center;
}

.search_link {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
}

a.search_link:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
}

.add_form {
    font-size: 20px;
    font-weight: 600;
}

.author {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-top: 6px;
}

.block_text {
    min-height: 100px;
    margin-bottom: 100px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
                0px 2px 4px rgba(0,0,0,0.1), 
                0px 4px 8px rgba(0,0,0,0.1), 
                0px 8px 16px rgba(0,0,0,0.1);
}
.block_link {
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.edit_btn {
    position: relative;
    width: 49%;
    height: 35px;
    display: flex;
    border: 2px solid #000000;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}
.edit_btn:hover {
    background-color: #228B22;
}

.edit_link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #000000;
    text-decoration: none;
}

a.edit_link:hover {
    color: #ffffff;
    text-decoration: none;
}

.delete_btn {
    position: relative;
    width: 49%;
    height: 35px;
    display: flex;
    border: 2px solid #000000;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.delete_btn:hover {
    background-color: #DC143C;
}

.delete_link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #000000;
    text-decoration: none;
}

a.delete_link:hover {
    color: #ffffff;
    text-decoration: none;
}

.deletion_request {
    font-size: 22px;
    font-weight: 600;
}

.deletion_block {
    display: flex;
    flex-direction: column;
}

.block_shadow {
    margin-bottom: 50px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
                0px 2px 4px rgba(0,0,0,0.1), 
                0px 4px 8px rgba(0,0,0,0.1), 
                0px 8px 16px rgba(0,0,0,0.1);

            }

.categry_header {
    margin: 10px 0;
    display: block;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;    
    border-radius: 5px;
    background-color: #1e1e1e;
}

.category_menu_link {
    padding: 15px 30px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff; 
}

.category_menu

.category_menu_link:hover {
    background-color: #808080;
    color: #ffffff; 
}

/* body {
    padding-bottom: 100px;
} */
